<!DOCTYPE html>
<html>
<head>
	<title>User Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initaial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>
<body>
    <section class="header"> 
	<nav>
        <a 
          ><img
            src="../images/logo.jpg"
        /></a>
		<div class="user">
			<p>👤Hi!</p>
		</div>
        <div class="nav-links">
          <ul>
            <li><a href="/admin">HOME</a></li>
            <li><a href="/admintable">EVENTS</a></li>
            <li><a href="/home">LOGOUT</a></li>
          </ul>
        </div>
      </nav>

	  <div class="test-box">
        <h1>SCHEDULE EVENTS!</h1>
        <p>Register yourselves and be a part of any event you wish to attend.   </p>
        <a href="/index" class="hero-btn"><b>UPCOMING EVENTS</b></a>
      </div>
    </section>


</body>
</html>