       <link rel="stylesheet" href="../css/style.css" >


        <section class="header">
        <nav>
           
              {{!-- <img src="../images/logo.jpg" alt="jssslogo" height="40px" width="100px" /> --}}
              <img src="../images/logo.jpg" alt="jssslogo" height="40px" width="100px" />
           
                <div class="nav-links">
                  {{!-- <img src="../images/logo.jpg" alt="jssslogo" height="40px" width="100px" /> --}}
                  <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/logina">ADMIN</a></li>
                    <li><a href="/login">USER</a></li>
                    <li><a href="/index">EVENTS</a></li>
                   
                  </ul>
                </div>
        </nav>
    
    <div class="test-box">
        <h1>SCHEDULE EVENTS!</h1>
        <p>Register yourselves and be a part of any event you wish to attend.</p>
        <a href="/index"class="hero-btn" style="color:white;">Upcoming Events</a>
    </div>


       </section>
      
      


      <section class="clubs">
        <h1>College Clubs</h1>
        <p>We have technical and non-technical clubs that conduct various events throughout the year</p>
       <div class="row">
       <a href="https://lccjssstu.ml/"  >
        <div class="EVENTScolumn" href="">
        <h2>LCC</h2>
        <p>Linux Campus Club</p>
       </div>



       </a>
       <a href="https://aerojcteam.github.io/aerojc-website/">
        <div class="EVENTScolumn">
        <h2>AeroJC</h2>
        <p>AeroModelling Club</p>
       </div>
        
       </a>
       <a href="https://venturex.netlify.app/index.html">
       <div class="EVENTScolumn">
        <h2>VentureX</h2>
        <p>Enterpreneurship Club</p>
       </div>
       
       </a>
       <a href="https://edboardjssstu.in/">
       <div class="EVENTScolumn" href="">
        <h2>ED Board</h2>
        <p>Art and Literature Club </p>
       </div>
       
       
       
       </a>
       

       </div>
    </section>


<!----previous events held----->

    <section class="previousEVENTS">
     <h1>Previous events</h1>

     <div class="row">
      <div class="events-column">
        <img src="../images/shabdh.png">
        <div class="layer" >
          <h3>SHABDH</h3>
        </div>
      </div>

      <div class="events-column">
        <img src="../images/gdsc.png">
        <div class="layer">
          <h3>ML WORKSHOP</h3>
        </div>
      </div>

      <div class="events-column">
        <img src="../images/velocity.png">
        <div class="layer">
          <h3>VELOCITY</h3>
        </div>
      </div>

     </div>

    </section> 

 