<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <link rel="stylesheet" href="../css/signin.css" />

    
  </head>
  <body>
    <div class="Body">
<div class="container">
      <div class="forms">
        <div class="form login">
          <span class="title">Login</span>

          <form action="/logina"  method="POST">
            <div class="input-field">
              <input type="text" name="admin_email" placeholder="Email" required />
              <i class=" uil-envelope-alt"></i>
            </div>

            <div class="input-field">
              <input
                type="password"
                class="password"
                name="password"
                placeholder="Password"
                required
              />
              <i class="uil uil-lock icon"></i>
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>

            
            <button class="input-field button"  type="submit" value="Login">
              Login in
            </button>
          </form>

          <div class="login-signup">
            <span class="text"
              >Don't have an account?
              <a href="/signupa" class="text signup-link">Signup </a>
            </span>
          </div>
          {{#if message}}
          <h4 class="alert alert-danger mt-4">
          {{message}}
          </h4>
          {{/if}}
        </div>
    </div>
    

        <!-- Registration Form -->
       

    <script src="../javascript.js"></script>
  </body> 
</html>