<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Responsive Custom Table</title>
	<link rel="stylesheet" href="../css/myevent.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script>
		$(document).ready(function(){
			$(".table_body .checkbox .input").click(function(){
			  if($(this).is(":checked")){
			    var item_num = $(this).attr("value");
			    $("."+item_num).parent().css("background", "#eaeff9");
			  }
			  else{
			    var item_num = $(this).attr("value");
			    $("."+item_num).parent().css("background", "#fff");
			  }
			})

			$(".table_header .checkbox .input").click(function(){
			  if($(this).is(":checked")){
			    $('.checkbox .input').prop('checked', true);
			    $(".table_body .item_wrap").css("background", "#eaeff9");
			  }
			  else{
			    $('.checkbox .input').prop('checked', false);
			    $(".table_body .item_wrap").css("background", "#fff");
			  }
			})

		});
	</script>
</head>
<body>

<div class="wrapper">
  <div class="table_title">
    MY EVENTS
  </div>
  
  <div class="table_wrap">
    <div class="table_header">
      <div class="item_wrap">
        <div class="item item_id">
           Event_ID
        </div>

        
        <div class="item item_Ename">
            Event Name
         </div>

        <div class="item item_date">
           Date
        </div>

        <div class="item item_place">
           Venue
        </div>
        <div>Status</div>

        

      </div>
    </div>
    
      
      
      
        
      
      {{#each rows}}
      <div class="item_wrap">
        
        <div class="item item_id item_id_3">
           <p>{{{this.Event_ID}}}</p>
        </div>

        <div class="item item_head">
            <p>{{this.Event_Name}}</p>
         </div>

        
         <div class="item item_date">
            <p>{{this.Date}}</p>
         </div>
        
         <div class="item item_place">
            <p>{{this.Venue}}</p>
              </div>
        <div>
            <p>Registered</p>
         </div>
         

        
        </div>
        {{/each}}
       </div>
    
      
      

</body>
</html>